/* Add the following styles to your external CSS file, e.g., styles.css */

@keyframes fillPercentage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(var(--percentage));
  }
}

.PlacementForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.result-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}


.result-text {
  font-weight: bold;
  color: #27ae60;
  font-size: large;
}
  
.percentage-bar {
  height: 5px;
  width: 100%;
  background-color: #3498db;
  border-radius: 5px;
  margin-top: 10px;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  .PlacementForm {
    width: 100%;
    border-radius: 0;
  }
}




